:root {
  --orangeish-red: #e06331;
  --f1-brand-color: #8d0c00;
  --f1-black: #212121;
  --f1-grey: #ebebeb;
  --default-border-radius: 30px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 0 12% 0;
}

.header__links__coloured {
  color: var(--f1-black);
}

.welcome__paragraph {
  color: #e5e7eb;
  align-self: flex-start;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.header__links {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: flex-end;
  gap: 4rem;
}

.header__links__coloured {
  color: var(--f1-black);
  text-decoration: none;
  font-size: 24px;
}

.welcome {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  background-color: var(--f1-black);
  border-radius: var(--default-border-radius);
  padding: 70px 12% 70px;
}

.welcome__text,
.welcome__image {
  width: 48%;
}

.welcome__image__horizontal {
  width: 100%;
  object-fit: fill;
}

.welcome__header {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.welcome__paragraph {
  font-size: 18px;
}

#header-img {
  width: 200px;
  height: auto;
}

.slider {
  color: #f9faf8;
}

#learn-more_button {
  background-color: #616161;
  border: 0px none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 8px 2em;
}

.collection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 24%;
  margin-top: 40px;
}

.collection__header {
  align-self: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.collection__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 45px;
  margin: 40px;
}

.collection__images__captioned {
  text-align: center;
}

.img__caption {
  font-size: 18px;
}

.image__rounded {
  border: 4px solid var(--f1-brand-color);
  border-radius: 15px;
  height: 250px;
  width: auto;
}

.quotation-block {
  padding: 100px 15% 100px;
  background-color: var(--f1-black);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.quotation-block__quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quotation-block__author {
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  align-self: flex-end;
}

.signup-form {
  margin: 100px 10% 100px;
  padding: 3em 5em;
  background-color: var(--f1-brand-color);
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signup-form__text {
  display: flex;
  flex-direction: column;
}

#signup-form__text__header,
#signup-form__text__caption {
  display: inline-block;
}

#signup-form__text__header {
  font-size: 24px;
  font-weight: 500;
}

#signup-form__button {
  background-color: var(--f1-brand-color);
  color: white;
  border-radius: 6px;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid white;
}

.footer {
  color: white;
  background-color: var(--f1-black);
  padding: 2em 0px;
  text-align: center;
}
