body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header,
.welcome {
  background-color: #1f2937;
  padding: 0 15%;
}

.header__links__coloured,
.welcome__paragraph {
  color: #e5e7eb;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.welcome {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-around;
}

.welcome__text {
  width: 45%;
}

.welcome__image {
  width: 45%;
}

.welcome__image__horizontal {
  height: fit-content;
  width: auto;
}

.welcome__header {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.welcome__paragraph {
  font-size: 18px;
}

#header-img {
  width: 100px;
  height: auto;
}

.header__links {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: flex-end;
  gap: 3rem;
  margin: 50px 50px;
}

.header__links__coloured {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.slider {
  color: #f9faf8;
}

.collection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 24%;
  margin-top: 40px;
}

.collection__header {
  align-self: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.collection__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  gap: 30px;
  margin: 40px;
}

.image__rounded {
  border: 3px solid #3882f6;
  border-radius: 15px;
  width: 100%;
  height: auto;
}
